<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card my-3">

            <p> Written by: {{name}} <span class="date-tag">Date Posted:{{date_created}}</p></span>
            <h4 class="card-title border-bottom border-4"></h4>
            <br>
            <p>{{content}}</p>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>