<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">

            <h2 class="card-title border-bottom border-4">{{subject}} by {{user.name}} Date Posted:{{date_created}}</h2>
            <br>
            <p>{{content_body}}</p>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>