<link href="./css/style.css" rel="stylesheet">
{{#each posts as |post|}}
{{> post-details}}
{{/each}}
<a href="/newpost"><button class="btn btn-primary" type="submit">Post New</button></a>
 <script src="./js/logout.js"></script>