{{post-details}}
<div class="card">
    <form class="form comment-form">
        <div class="form-group mb-3">
            <label for="content" class="form-label">Add Comment</label>
            <textarea class="form-control form-textarea" id="content" rows="3"></input>
        </div>
        <div class="form-group mb-3">
        <button class="btn btn-primary" type="submit">Submit Comment</button>
        </div>
    </form>
</div>